@page "/Manutenção/ManutencaoAgendamento"

<section >
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="col-11 px-4 mb-0">
                    <h1 style="text-align:center">Manutenção Agendamento</h1>
                </div>
                <hr class=" mt-1 mb-4 bg-primary" />
            </div>
        </div>
    </div>

    <form>
        <!-- 1 coluna pode ser editada -->
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="floatingInput" placeholder="manutencao">
                    <label for="floatingInput">Manutenção:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3 ">
                    <input type="date" class="form-control" id="floatingInput" placeholder="data">
                    <label for="floatingInput">Data:</label>
                </div>
            </div>
        </div>
        <!-- 2 coluna pode ser editada -->
        <div class="form-floating py-3 is-invalid mx-auto ">
            <select  class="form-select" id="floatingSelectGrid" >
                <option value=""></option>
                <option value="Alta">Encerrado</option>
                <option value="Media">Andamento</option>
                <option value="Baixa">Concluído</option>
            </select>
            <label for="floatingInput">Status</label>
        </div>

        <!-- button -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn fw-bolder text-white" type="button" style="background-color:#b41720;">Enviar</button>
        </div>
    </form>
</section>

@code {

}
