
@page "/Fornecedores/CadastrarFornecedor"

<section>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="col-11 px-4 mb-0">
                    <h1 style="text-align:center">Cadastrar Fornecedor</h1>
                </div>
                <hr class=" mt-1 mb-4 bg-primary" />
            </div>
        </div>
    </div>
    <form>
        <!-- 1 coluna se quiser editar -->
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="nome_fantasia">
                    <label for="floatingInput">Nome Fantasia:</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="razao_social">
                    <label for="floatingInput">Razão Social:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="cnpj_cpf">
                    <label for="floatingInput">CNPJ/CPF:</label>
                </div>
            </div>
        </div>
        <!-- 2 coluna se quiser editar -->
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="agencia">
                    <label for="floatingInput">Agência:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="banco">
                    <label for="floatingInput">Banco:</label>
                </div>
            </div>
        </div>
        <!-- 3 coluna se quiser editar -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Numero_Conta">
                    <label for="floatingInput">Nº Da Conta:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="conta_bancaria">
                    <label for="floatingInput">Conta Bancaria:</label>
                </div>
            </div>
        </div>
        <!-- 4 coluna se quiser editar -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="endereco">
                    <label for="floatingInput">Endereço:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="bairro">
                    <label for="floatingInput">Bairro:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="cep">
                    <label for="floatingInput">CEP:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="numero">
                    <label for="floatingInput">Número:</label>
                </div>
            </div>
        </div>
        <!-- 5 coluna se quiser editar -->
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">E-mail:</label>
                </div>
            </div>
        </div>
        <!-- 6 coluna se quiser editar -->
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="vendedor">
                    <label for="floatingInput">Vendedor:</label>
                </div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn fw-bolder text-white" type="button" style="background-color:#b41720;">Cadastrar</button>
        </div>

    </form>

</section>



@code {


}
