@page "/Fornecedores/ListaFornecedores"


<section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="col-10 px-4 mb-0">
            <h2 class="fow-bolder">Lista de Fornecedores</h2>
        </div>
        <hr class="bg-danger">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header fw-bolder">
                            Filtros
                        </div>
                        <div class="card-body">
                            <!-- Aqui você pode adicionar seus filtros -->
                            <form>
                                <div class="mb-3">
                                    <label for="inputNome" class="form-label fw-bolder">Nome</label>
                                    <input type="text" class="form-control" id="inputNome">
                                </div>
                                <!-- Adicione mais campos de filtro conforme necessário -->
                                <button type="submit" class="btn fw-bolder text-white" style="background-color:#b41720;">Aplicar Filtros</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nome Fantasia</th>
                                <th scope="col">CNPJ/CPF</th>
                                <th scope="col">Banco</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ações</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>João Silva</td>
                                <td>49725215252</td>
                                <td>Bradesco</td>
                                <td>(11)94288-9492</td>
                                <td>joao@example.com</td>
                                <td class="align-middle">
                                    <a href="#!" data-mdb-tooltip-init title="Editar Fornecedor">
                                        <i class="bi bi-pen me-4 text-primary"></i>
                                    </a>
                                    <a href="#!" data-mdb-tooltip-init title="Adicionar">
                                        <i class="bi bi-folder2-open text-success"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Maria Oliveira</td>
                                <td>26549873821</td>
                                <td>Santander</td>
                                <td>(11)98468-5432</td>
                                <td>maria@example.com</td>
                                <td class="align-middle">
                                    <a href="#!" data-mdb-tooltip-init title="Editar Fornecedor">
                                        <i class="bi bi-pen me-4 text-primary"></i>
                                    </a>
                                    <a href="#!" data-mdb-tooltip-init title="Adicionar">
                                        <i class="bi bi-folder2-open text-success"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Andre Santos</td>
                                <td>25470001/06</td>
                                <td>Banco do Brasil</td>
                                <td>(11)96765-5482</td>
                                <td>andre@example.com</td>
                                <td class="align-middle">
                                    <a href="#!" data-mdb-tooltip-init title="Editar Fornecedor">
                                        <i class="bi bi-pen me-4 text-primary"></i>
                                    </a>
                                    <a href="#!" data-mdb-tooltip-init title="Adicionar">
                                        <i class="bi bi-folder2-open text-success"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Claudia Vieira</td>
                                <td>32552145861</td>
                                <td>Nu Bank</td>
                                <td>(11)98268-4632</td>
                                <td>maria@example.com</td>
                                <td class="align-middle">
                                    <a href="#!" data-mdb-tooltip-init title="Editar Forcedor">
                                        <i class="bi bi-pen me-4 text-primary"></i>
                                    </a>
                                    <a href="#!" data-mdb-tooltip-init title="Adicionar">
                                        <i class="bi bi-folder2-open text-success"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Gustavo Oliveira</td>
                                <td>53698741256</td>
                                <td>Itau</td>
                                <td>(11)92482-8226</td>
                                <td>maria@example.com</td>
                                <td class="align-middle">
                                    <a href="#!" data-mdb-tooltip-init title="Editar Forcedor">
                                        <i class="bi bi-pen me-4 text-primary"></i>
                                    </a>
                                    <a href="#!" data-mdb-tooltip-init title="Adicionar">
                                        <i class="bi bi-folder2-open text-success"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Pedro Silva</td>
                                <td>36524697236</td>
                                <td>Caixa</td>
                                <td>(11)95497-9963</td>
                                <td>pedro@example.com</td>
                                <td class="align-middle">
                                    <a href="#!" data-mdb-tooltip-init title="Editar Fornecedor">
                                        <i class="bi bi-pen me-4 text-primary"></i>
                                    </a>
                                    <a href="#!" data-mdb-tooltip-init title="Adicionar">
                                        <i class="bi bi-folder2-open text-success"></i>
                                    </a>
                                </td>
                            </tr>

                            <!-- Adicione mais linhas conforme necessário -->
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Próximo</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
