@page "/TI/ProdutosTi"

<section>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="col-11 px-4 mb-0">
                    <h1 style="text-align:center">Produtos</h1>
                </div>
                <hr class=" mt-1 mb-4 bg-primary" />
            </div>
        </div>
    </div>

    <form>
        <!-- 1 coluna pode ser editada -->
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="floatingInput" placeholder="fornecedor">
                    <label for="floatingInput">Fornecedor:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="floatingInput" placeholder="categoria">
                    <label for="floatingInput">Categoria:</label>
                </div>
            </div>
        </div>
        <!-- 2 coluna pode ser editada -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="valor_comprar">
                    <label for="floatingInput">Valor De Compra:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="valor_uso">
                    <label for="floatingInput">Valor De Uso:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="estoque_min">
                    <label for="floatingInput">Estoque Mínimo:</label>
                </div>
            </div>
        </div>

            <!-- 3 coluna pode ser editada -->
            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating mb-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="descricao"
                               style="height:100px;">
                        <label for="floatingInput">Descrição:</label>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn fw-bolder text-white" type="button" style="background-color:#b41720;">Cadastrar</button>
            </div>
    </form>
</section>


@code {

}
