@page "/"

<div class="container pt-5">
    <div class="card mb-3" style="max-width: 1240%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiA2nNnz2jJzOTntEN4t1ACI624xIokzu7b9H3TrUvdQAk5_QpbVBEckPUz_u6HHFVmA-tmGBwy8jCZXMuoVlgSKs80OVUTra36c5mi8Q-dEnOrPJzDuLd8jufMGPwnC1K8CHcTauPIdag/s1600/Cabe%25C3%25A7a+de+fenix.gif" class="img-fluid rounded-start" alt="fenix">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title text-center">FX</h2>
                    <p class="card-text text-justify">Sejam Bem-Vindo ao Melhor servido de Soluções de Empresa, ao lado tera os topicos que você poderia navegar para concluir seu processo.</p>
                    <p class="card-text text center"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

